.detailup{
    position:relative;
width: 1600px;
height: 50px;   
left: 320px;
/* top: 157px; */




}

.hr{
    position: relative;
    padding-top: 45px;
    /* margin-left: 551rem; */
    margin-top: 55rem;
    top: 157px;
}

.detailcircle{
    padding: 10px;
margin: 20px;
    height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.arrange{
    display: flex;
    /* float: left; */flex-direction: row-reverse;

    align-items: center;

    margin-right: 56px ;
    
}

.choice{
    margin-top: 5rem;
    display: flex;
    /* max-width: 200px; */
    /* flex-direction:row ;  */
    /* justify-content: space-between; */
}

.approve{
    padding-left: 50px;
}

.sync{
    
 display: flex;
 flex-direction: row;
}